
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #f9f9f8;    

}

header {
    background-color:rgb(20, 142, 120);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    }

nav ul li a {
    color: white;
    text-decoration: none;
    position: sticky;
    font-weight: bolder;
    font-size: 17px; 
    padding: 4px;
    border-radius: 15px;
    
 
}

nav ul li a:hover {
    color: #c9f0ed;
}
.hero {
    text-align: center;
    padding: 30px;
    background:  rgb(76, 189, 169);
    color: white;
}

.hero button {
    padding: 10px 20px;
    background: white;
    color: #965c05;
    border: none;
    font-weight: bold;
    margin-top: 15px;
}

.hero button:hover {
    background:rgb(20, 142, 120);
    color: white;
}

.products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 200px;
}
.product-card:hover{
    background-color:rgb(181, 239, 228);
    border:rgb(181, 239, 228);
    text-decoration: none;
    font-weight: bold;
    font-size: 17px; 
   padding: 1.5%;
    border-radius: 15px;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}
.product-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background:  rgb(76, 189, 169);
    color: white;
    border: none;
    border-radius: 5px;
}

.product-card button:hover {
    background:#333;
}

footer {
    background: rgb(19, 91, 78);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
span{
    text-decoration: line-through;
}
nav {
      background-color: #0f3d3e;
      padding: 10px;
      text-align: center;
      width: 20%;
    }
    nav:hover{
    background-color:#333;
    font-size: 17px; 
    padding: 4px;
    color: rgb(131, 111, 243);
    font-weight: bolder;
    border:rgb(160, 160, 216); 
    font-size: 17px; 
    padding: 7px;
    border-radius: 15px; 
    }
 section nav{
    background:  rgb(20, 142, 120);
     justify-content: space-between;
     padding: 8px;
       width: 100%;
    }
 section nav:hover{
    border: 3 solid rgb(15, 14, 11);
    background-color:  rgb(2, 67, 55);
 }
 img{
    height: 65%;
    width: 45%;
 }
 .contact{
    align-items: center;
    align-content: center;
    justify-content: center;
 }