html{
    scroll-behavior: smooth;
}
body{
    margin: 4px;
    padding: 4px;
    background-color: beige;
}
.Header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    flex-direction: row;
    background-color: bisque;
}
.logo{
    display: inline-block;
    height: 100px;
    width: 50px;
    object-fit: cover;
    object-position: center;

}
a{
    text-decoration: none;
}
a:hover{
     border: beige;
    background-color: rgb(240, 245, 245);
}
.Products{
    width: 90%;
    height: 200vh;
    background-color: azure;
    gap: 20px;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around ;  
}
.item {
    width: 30%;
    height: 50%;
    margin-top: 8px;
     border-radius: 15px;
     background-color: rgb(220, 246, 126);
     border: rgb(247, 243, 144);
     
}