html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.title{
    width: 100%;
    height: 20%;
    background-color: rgb(7, 33, 77);
    padding: 20px;
    margin-top: 0;
    color: rgb(234, 234, 239);
    text-align: center;
}
.Cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    background-color: rgb(22, 22, 26);
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    gap: 20PX;
}
.item{
    display: inline-block;
    background-color: rgb(158, 213, 228);
    height: 200px;
    width: 150px;
}
img{
    width: 70%;
    height: 30;
    border-radius: 15px;
}